* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0%;
}

body {
    background: #000;
    display: flex;
    height: 100vh;
    padding: 0;
    background-size: 100% 100%;
    background-image: url('watercolor1.jpg');
    transition: 1500ms;
    margin: 0;
    animation: dead 5.8s linear;
}

.coolload {
    position: fixed;
    bottom: 4%;
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
    left: 4%;
}

.progress {
    border: white 3px solid;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 1px 3px;
    display: flex;
    height: 30%;
    width: 76%;
    position: absolute;
    right: 1px;
}

.progress-value {
    animation: load 5.8s linear forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 96%;
    width: 0px;
}

.percent {
    color: #fff;
    font-size: 2vw;
    margin-right: 2px;
    animation: linear 5.8s fading;
}

.text {
    color: white;
    margin: 7%;
    margin-top: 20vh;
    max-width: 30%;
    animation: fading 5.8s linear;
}

.logo {
    height: 5.5%;
    transition: 500ms;
    position: fixed;
    top: 3%;
    left: 7%;
    width: 19.6%;
    animation: flop 5.8s linear;
}

@keyframes load {
    0% {
        width: 10px;
    }
    90% {
        width: 100%;
    }
}

@keyframes fading {
    0% {
        color: #000;
    }
    5% {
        color: #000;
    }
    15% {
        color: #fff;
    }
    90% {
        color: #fff;
    }
    100% {
        color: #c2c4c5
    }
}

@keyframes dead {
    80% {
        background-image: url('watercolor1.jpg');
    }
    90% {
        background-image: url('watercolor.jpg');
    }
    100% {
        background-image: url('watercolor.jpg');
    }
}