*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 20px;
}

 :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #74992e;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.title {
    color: white;
    font-size: 30px;
    margin-bottom: 5%;
}

.container {
    text-align: center;
    width: 900px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.progress-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 1%;
    width: 80%;
    height: 10px;
    background-color: rgb(199, 199, 199);
}

.green {
    width: 10%;
    height: 10px;
    background-color: rgb(113, 195, 113);
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    margin-bottom: 2%;
}

.retake {
    width: 10%;
    align-self: center;
    margin-top: 4%;
}

@media only screen and (max-width: 720px) {
    * {
        font-size: 15px;
    }
    .title {
        font-size: 25px;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 20px;
        text-align: center;
    }
}