* {
    caret-color: transparent;
}

body {
    justify-content: center;
    align-items: center;
    background: #000;
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/js-messenger-874ab.appspot.com/o/background.jpg?alt=media&token=4b7174ef-4ca9-4d14-8cfa-6bf31269ab32');
    background-size: 100% 100%;
}

div {
    position: absolute;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

@keyframes arrows {
    0%,
    100% {
        color: black;
        transform: translateY(0);
    }
    50% {
        color: #3AB493;
        transform: translateY(20px);
    }
}

span {
    font-size: 50px;
    --delay: 0s;
    animation: arrows 1s var(--delay) infinite ease-in;
}