* {
    box-sizing: border-box;
    margin: 0;
    caret-color: transparent;
}

body {
    transition: 1500ms;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/js-messenger-874ab.appspot.com/o/background.jpg?alt=media&token=4b7174ef-4ca9-4d14-8cfa-6bf31269ab32');
    background-size: 100% 100%;
    cursor: none;
    background-color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
    cursor: none;
}

img {
    height: 100%;
    width: 100%;
}

.top-bar {
    display: flex;
    height: 100px;
    width: 60%;
    align-items: flex-end;
    margin-bottom: 30px;
    animation: slide-up 3s;
    position: relative;
    animation-delay: 3500ms;
}

.kort {
    background: linear-gradient(to right, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 40%, rgb(23, 147, 54) 60%, rgb(0, 0, 0) 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    animation-delay: 3500ms;
}

.name {
    flex-grow: 3;
    font-size: 50px;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 40%, rgb(23, 147, 54) 60%, rgb(0, 0, 0) 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    animation-delay: 3500ms;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.menu {
    flex-grow: 1;
    display: flex;
    font-family: 'Montserrat';
    gap: 80px;
    font-size: 35px;
}

.name1 {
    display: flex;
    align-items: flex-end;
    flex-basis: 10%;
    font-size: 40px;
    font-family: "Montserrat";
    transition: 1000ms;
}

.container {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 53%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.about-us {
    flex-basis: 10%;
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: lighter;
    text-align: left;
    padding: 12px 24px;
}

.number {
    font-size: 20px;
    padding-bottom: 6px;
    font-family: "Montserrat";
    margin-right: 10px;
}

.us1 {
    flex-basis: 5%;
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: lighter;
    text-align: left;
    padding: 20px 34px;
    margin-bottom: 30px;
    transition: 1000ms;
    line-height: 42px;
}

.innerContainer {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}

.item {
    width: 300px;
    height: 300px;
    animation: appear 2000ms ease-in-out;
    transition: 0.5s;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(18, 69, 41);
    border-radius: 50%;
    transition: .1s;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: rgb(18, 69, 41);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1700px) {
    .top-bar {
        width: 70%;
        flex-direction: column;
    }
    .menu {
        font-size: 30px;
        align-self: center;
    }
    .name {
        flex-basis: 80%;
        align-self: center;
        font-size: 40px;
    }
    .menu-bar {
        display: block;
        font-size: 30px;
    }
    .item {
        margin-right: 90px;
        margin-left: 90px;
    }
    .mini-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1450px) {
    .top-bar {
        width: 70%;
        flex-direction: column;
    }
    .menu {
        font-size: 30px;
        align-self: center;
    }
    .name {
        flex-basis: 80%;
        align-self: center;
        font-size: 40px;
    }
    .menu-bar {
        display: block;
        font-size: 30px;
    }
    .item {
        margin-right: 90px;
        margin-left: 90px;
    }
    .mini-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1260px) {
    .name {
        flex-basis: 80%;
        align-self: center;
        font-size: 25px;
    }
    .name1 {
        font-size: 40px;
    }
    .us1 {
        font-size: 30px;
    }
    .item {
        margin-right: 90px;
        margin-left: 90px;
    }
}

@media only screen and (max-width: 1300px) {
    .top-bar {
        width: 70%;
        flex-direction: column;
    }
    .menu {
        gap: 20px;
        font-size: 30px;
        align-self: center;
    }
    .name {
        flex-basis: 80%;
        align-self: center;
        font-size: 40px;
    }
    .menu-bar {
        display: block;
        font-size: 30px;
    }
    .item {
        margin-right: 90px;
        margin-left: 90px;
    }
    .mini-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 955px) {
    .innerContainer {
        height: 750px;
    }
    .top-bar {
        width: 70%;
    }
    .name {
        flex-basis: 80%;
        align-self: center;
        font-size: 40px;
    }
    .menu {
        gap: 15px;
        font-size: 20px;
    }
    .item {
        margin-right: 120px;
        margin-left: 120px;
    }
    .name1 {
        font-size: 30px;
    }
    .us1 {
        font-size: 20px;
    }
    .team-container {
        width: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .top-bar {
        width: 70%;
    }
    .menu {
        justify-content: center;
        padding-top: 50px;
        gap: 5px;
        font-size: 14px;
    }
    .name {
        align-self: center;
        font-size: 40px;
    }
    .item {
        margin-right: 40px;
        margin-left: 40px;
    }
    .cursor {
        display: none;
    }
    .cursor2 {
        display: none;
    }
    .us1 {
        font-size: 20px;
        line-height: 35px;
    }
    .team-container {
        width: 80%;
    }
    .innerContainer {
        height: 1600px;
    }
    .container {
        height: 2000px;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}