* {
    box-sizing: border-box;
    margin: 0;
    caret-color: transparent;
}

body {
    transition: 1500ms;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/js-messenger-874ab.appspot.com/o/background.jpg?alt=media&token=4b7174ef-4ca9-4d14-8cfa-6bf31269ab32');
    background-size: 100% 100%;
    cursor: none;
    background-color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: none;
}

img {
    height: 100%;
    width: 100%;
}

.top-bar {
    display: flex;
    height: 100px;
    width: 30%;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-bottom: 30px;
    position: relative;
    animation-delay: 3500ms;
}

.kort {
    font-family: 'Montserrat';
    box-shadow: inset 0 0 0 0 #539f63;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    animation-delay: 3500ms;
}

.kort:hover {
    box-shadow: inset 160px 0 0 0 #448551;
    color: white;
}

.name {
    font-size: 50px;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 40%, rgb(23, 147, 54) 60%, rgb(0, 0, 0) 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    animation-delay: 3500ms;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.name1 {
    display: flex;
    align-items: flex-end;
    flex-basis: 10%;
    font-size: 40px;
    font-family: "Montserrat";
    transition: 1000ms;
}

.container {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 53%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.number {
    font-size: 20px;
    padding-bottom: 6px;
    font-family: "Montserrat";
    margin-right: 10px;
}

.us1 {
    flex-basis: 5%;
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: lighter;
    text-align: left;
    padding: 20px 34px;
    margin-bottom: 30px;
    transition: 1000ms;
    line-height: 42px;
}

.innerContainer {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}

.item {
    width: 300px;
    height: 300px;
    animation: appear 2000ms ease-in-out;
    transition: 0.5s;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item:hover {
    transform: scale(1.1);
}

.first {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/js-messenger-874ab.appspot.com/o/air-main.png?alt=media&token=45f4a61d-43f2-4b74-b4a0-8645360cd1fa');
    background-size: 100% 100%;
}

.first:hover {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/js-messenger-874ab.appspot.com/o/air-hover.png?alt=media&token=d544e78d-c12f-4ba7-bc32-11bdfcdd9bd3');
}

.second {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/js-messenger-874ab.appspot.com/o/water-main.png?alt=media&token=627aa7a1-b97b-449f-83c3-158d39db13f7');
    background-size: 100% 100%;
}

.second:hover {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/js-messenger-874ab.appspot.com/o/water-hover.png?alt=media&token=3d223dbf-27b4-48c3-80ae-509048b22ab3');
}

.third {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/js-messenger-874ab.appspot.com/o/forest-main.png?alt=media&token=24733c16-2254-4153-9087-b766b791670d');
    background-size: 100% 100%;
}

.third:hover {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/js-messenger-874ab.appspot.com/o/forest-hover.png?alt=media&token=e235898d-cc89-4566-9af3-b7b393a83421');
}

.fourth {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/js-messenger-874ab.appspot.com/o/axe.png?alt=media&token=67250dcf-9571-4b0d-abbb-325c8698b47c');
    background-size: 100% 100%;
}

.fourth:hover {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/comment-test-b61eb.appspot.com/o/oper.png?alt=media&token=d3108ada-8315-440e-bcd0-9d873f8d9e07');
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(18, 69, 41);
    border-radius: 50%;
    transition: .1s;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: rgb(18, 69, 41);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.dropbtn {
    cursor: none;
    font-family: 'Montserrat';
    font-weight: bold;
    background-color: transparent;
    font-size: 40px;
    border: none;
    background: linear-gradient(to right, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 40%, rgb(23, 147, 54) 60%, rgb(0, 0, 0) 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a0c6a0a0;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 25px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #a0c6a0a0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00000052;
}

@media only screen and (max-width: 1700px) {
    .top-bar {
        width: 70%;
    }
    .menu {
        font-size: 30px;
        align-self: center;
    }
    .name {
        align-self: center;
        font-size: 40px;
    }
    .item {
        margin-right: 90px;
        margin-left: 90px;
    }
    .mini-text {
        font-size: 20px;
    }
    .container {
        height: 1300px;
    }
    .innerContainer {
        height: 900px;
    }
}

@media only screen and (max-width: 1500px) {
    .top-bar {
        width: 70%;
    }
    .item {
        margin-right: 100px;
        margin-left: 100px;
    }
    .mini-text {
        font-size: 20px;
    }
    .container {
        height: 1400px;
    }
    .innerContainer {
        height: 1000px;
    }
}

@media only screen and (max-width: 1300px) {
    .top-bar {
        width: 70%;
    }
    .menu {
        gap: 20px;
        font-size: 30px;
        align-self: center;
    }
    .item {
        margin-right: 100px;
        margin-left: 100px;
    }
    .mini-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1260px) {
    .name {
        align-self: center;
        font-size: 25px;
    }
    .name1 {
        font-size: 40px;
    }
    .us1 {
        font-size: 30px;
    }
    .item {
        margin-right: 100px;
        margin-left: 100px;
    }
}

@media only screen and (max-width: 700px) {
    .top-bar {
        width: 70%;
        flex-direction: column;
        gap: 20px;
    }
    .menu {
        /* justify-content: center; */
        padding-top: 50px;
        gap: 5px;
        font-size: 14px;
    }
    .name {
        align-self: center;
        font-size: 40px;
    }
    .item {
        margin-right: 40px;
        margin-left: 40px;
    }
    .cursor {
        display: none;
    }
    .cursor2 {
        display: none;
    }
    .us1 {
        font-size: 20px;
        line-height: 35px;
    }
    .team-container {
        width: 80%;
    }
    .innerContainer {
        height: 1600px;
    }
    .container {
        height: 2000px;
    }
}