* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 3px;
    caret-color: transparent;
}

p {
    margin-bottom: 10px;
}

body {
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    background-image: url('background.jpeg');
    background-size: 60% 60%;
    cursor: none;
}

.container {
    width: 65%;
    background-color: #3D463A;
    height: fit-content;
    /* transition: 500ms; */
    min-height: 300px;
    margin-bottom: 100px;
}

.title {
    font-size: 4vw;
    display: flex;
    color: white;
    gap: 4%;
    justify-content: center;
    align-items: center;
    height: 6vw;
    font-weight: bold;
    top: 0;
    position: fixed;
    width: 65%;
    z-index: 999;
    background-color: #3D463A;
    box-shadow: 0 20px 30px 0 rgba(45, 45, 45, 0.50);
}

.sum {
    height: 3vw;
    margin-top: 1vw;
    margin-left: -10vw;
    position: fixed;
    top: 11px;
}

.imaj {
    height: 5%;
    width: 3%;
}

.axe {
    margin-top: 12vw;
    width: 31%;
    margin-left: 10%;
    margin-right: 10%;
    height: 25vw;
}

.gra {
    margin-top: 5%;
    width: 40%;
    height: 20%;
}

.info {
    color: white;
    padding: 2%;
    max-width: 95%;
    text-align: center;
    padding-top: 10%;
    font-size: 1.5vw;
    transition: 1000ms;
}

.infoo {
    color: white;
    padding: 2%;
    max-width: 95%;
    text-align: center;
    padding-top: 10%;
    font-size: 1.5vw;
    transition: 1000ms;
}

.infoish {
    text-align: center;
    margin-top: 12%;
    width: 50%;
    max-width: 45%;
    right: 14%;
    transition: 800ms;
    color: white;
    padding: 8%;
    padding-top: 5%;
    font-size: 1.5vw;
    position: absolute;
    opacity: 0;
}

.touch {
    margin-top: 35%;
    margin-left: 5%;
    width: 40%;
    height: 5%;
    font-size: 2vw;
    color: white;
    transition: 800ms;
}

.img1 {
    width: 88%;
    height: 40%;
    border-radius: 12px;
    margin-top: 2%;
    margin-bottom: -5%;
    transition: 500ms;
}

.img1:hover {
    transition: 500ms;
    transform: scale(1.1);
}

.img2 {
    width: 88%;
    height: 40%;
    border-radius: 12px;
    margin-top: 2%;
    margin-bottom: 5%;
    transition: 500ms;
}

.img2:hover {
    transition: 500ms;
    transform: scale(1.1);
}

.top {
    display: flex;
    flex-direction: row;
}

.top2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.top3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.woods {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    height: 24vw;
    margin-top: 5vw;
}

.ground {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    background-color: antiquewhite;
    font-size: 10px;
}

@media only screen and (max-width: 780px) {
    /* For mobile phones: */
    .container {
        width: 90%;
    }
    .top {
        flex-direction: column;
    }
    .top2 {
        flex-direction: column-reverse;
    }
    .axe {
        width: 30%;
        height: 33vw;
        margin-top: 25%;
        margin-left: 35%;
        margin-right: 35%;
    }
    .touch {
        width: 50vw;
        font-size: 2.7vw;
        margin-left: 35%;
        margin-right: 45%;
        margin-top: -40vw;
    }
    .gra {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .info {
        text-align: start;
        max-width: 95%;
        margin-top: 10%;
        font-size: 2.7vw;
        padding-top: 5px;
        top: 10vw;
        margin-left: 4%;
    }
    .infoo {
        max-width: 95%;
        text-align: start;
        margin-top: 80%;
        font-size: 2.7vw;
        padding-top: 5px;
        top: 10vw;
        margin-left: 4%;
    }
    .infoish {
        max-width: 100vw;
        width: 80%;
        margin-top: 130%;
        font-size: 2.7vw;
        margin-right: -2%;
        text-align: center;
    }
    .woods {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .title {
        height: 10vw;
        font-size: 7vw;
        width: 90%;
    }
    .vapour span {
        max-width: 20px;
        min-width: 20px;
    }
    .top {
        justify-content: center;
    }
    .sum {
        height: 5vw;
        margin-top: 1vw;
        margin-left: -8vw;
    }
    .cursor {
        display: none;
    }
    .cursor2 {
        display: none;
    }
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(247, 255, 29);
    border-radius: 50%;
    transition: .1s;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: rgb(247, 255, 29);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
}


/* .vapour {
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}
.vapour span {
    position: relative;
    bottom: -50px;
    display: block;
    margin: 0 2px 50px;
    max-width: 100px;
    min-width: 100px;
    height: 120px;
    background: rgb(113, 113, 113);
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(20px);
    animation-delay: calc(var(--i) * -0.5s);
}
@keyframes animate {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    50% {
        transform: translateY(-150px) scaleX(5);
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(-400px) scaleX(0);
    }
} */