*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 25px;
    caret-color: transparent;
}

 :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

a {
    text-decoration: none;
    color: white;
}

.kort {
    background-color: transparent;
    border: none;
    margin-top: 3%;
}

body {
    background-image: url('wall.jpg');
    background-size: 100% 100%;
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #74992e;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.title {
    color: white;
    font-size: 30px;
    margin-bottom: 5%;
    background: linear-gradient(to right, rgb(0, 0, 0) 20%, rgb(156, 194, 255) 40%, rgb(156, 194, 255) 60%, rgb(0, 0, 0) 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.container {
    text-align: center;
    width: 900px;
    max-width: 80%;
    background-color: rgba(233, 225, 255, 0.382);
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.progress-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 1%;
    width: 80%;
    height: 10px;
    background-color: rgb(199, 199, 199);
}

.green {
    width: 10%;
    height: 10px;
    background-color: rgb(113, 195, 113);
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 3px solid hsl(var(--hue), 100%, 30%);
    background-color: #a69caca4;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    margin-bottom: 2%;
}

.retake {
    width: 10%;
    align-self: center;
    margin-top: 4%;
}

@media only screen and (max-width: 720px) {
    * {
        font-size: 17px;
    }
    .title {
        background: linear-gradient(to right, rgb(255, 255, 255)rgb(255, 255, 255) 0, 0) 40%, rgb(156, 194, 255) 60%, rgb(255, 255, 255) 80%;
    }
    body {
        background-image: url('utas1.jpeg');
    }
    .title {
        font-size: 25px;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 20px;
        text-align: center;
    }
}