* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat';
    caret-color: transparent;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* background-color: rgb(131, 218, 236); */
    background-color: black;
}

button {
    font-size: 20px;
    margin-top: 12%;
    align-self: center;
    justify-self: center;
    padding: 1vw;
    color: rgb(62, 62, 62);
    font-size: 1vw;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    height: 5vw;
    width: 30vw;
}

#page {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(131, 218, 236);
    ;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

.title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3%;
    font-size: 30px;
    font-weight: bold;
}

.titles {
    flex-basis: 25%;
    text-align: center;
    margin-top: 3%;
    font-size: 25px;
}

#gameContainer {
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    min-width: 30vw;
    min-height: 30vw;
    height: fit-content;
    width: fit-content;
    display: none;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.row {
    display: flex;
    flex-direction: row;
    display: flex;
    height: 5vw;
    gap: 1vw;
}

.cube {
    width: 4vw;
    height: 4vw;
    border-radius: 5%;
    background-color: rgb(87, 202, 255);
    transition: 100ms;
}

.counter-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.info-text {
    margin-top: 2%;
    text-align: center;
    font-size: 1.6vw;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: 100ms;
}

.back {
    width: 2.5%;
    height: 4vw;
    margin-left: 4%;
    position: absolute;
    top: 6%;
}

@media only screen and (max-width: 912px) {
    .info-text {
        width: 100%;
        font-size: 4vw;
        margin-top: 20vh;
        position: relative;
        bottom: 70vh;
    }
    #butt {
        position: absolute;
        top: 40vh;
        width: 35vw;
        height: 12vw;
    }
    /* .counter-container{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    } */
    .cube {
        width: 12vw;
        height: 12vw;
        border-radius: 5%;
        background-color: rgb(87, 202, 255);
        transition: 100ms;
    }
    .row {
        height: 15vw;
        gap: 4vw;
    }
    #gameContainer {
        margin-top: 6vh;
    }
    button {
        height: 10vw;
    }
    .titles {
        font: optional;
        font-size: 4vw;
    }
    .title {
        font-size: 6vw;
    }
    .back {
        width: 5vw;
        height: 7vw;
        /* margin-top: 2%;
        margin-left: 4%; */
        position: absolute;
        top: 2%;
    }
}

#butt {
    font-size: 200%;
    border: none;
}