* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.container {
  display: flex;
  overflow: hidden;
  width: 85%;
  height: 2200px;
  background-color: #3d463a;
  transition: 500ms;
  flex-direction: column;
}

#bulb {
  width: 280px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 100px;
  margin-left: 30px;
}

.back {
  padding: 10px;
  margin: 20px;
  width: 180px;
  display: flex;
  place-items: center;
  height: 60px;
  background-color: transparent;
}

.backg {
  margin: 20px;
  width: 100%;
  display: flex;
  place-items: center;
  height: 70px;
  background-color: transparent;
}

.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 60px;
  color: white;
  font-weight: bold;
}

.backImg {
  width: 140px;
  height: 40px;
  opacity: 60%;
}

.box {
  font-size: 50px;
  width: 40%;
  background-color: black;
  position: absolute;
  height: 180px;
  display: flex;
  padding: 20px;
  color: azure;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 9%;
  top: 497px;
  transition: 500ms;
}

.box2 {
  font-size: 50px;
  width: 40%;
  background-color: black;
  position: absolute;
  height: 180px;
  display: flex;
  padding: 20px;
  color: azure;
  display: flex;
  right: 9%;
  top: 497px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}
.box3 {
  font-size: 50px;
  width: 40%;
  background-color: black;
  position: absolute;
  height: 180px;
  display: flex;
  padding: 20px;
  color: azure;
  display: flex;
  right: 9%;
  top: 845px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

.hidden {
  position: absolute;
  /* transition: 500ms; */
  width: 30%;
  top: 17%;
  left: 100%;
  height: 180px;
  padding: 20px;
  color: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.3vw;
  font-weight: 200;
}

.hidden2 {
  position: absolute;
  width: 30%;
  top: 487px;
  right: 120%;
  height: 180px;
  transition: 500ms;
  padding: 20px;
  color: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 200;
}
.hidden3 {
  position: absolute;
  width: 30%;
  left: 13%;
  top: 845px;
  height: 180px;
  transition: 500ms;
  padding: 20px;
  color: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 200;
}
.hidden4 {
  position: absolute;
  width: 30%;
  top: 845px;
  left: 55%;
  height: 180px;
  transition: 500ms;
  padding: 20px;
  color: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

@media only screen and (max-width: 650px) {
  .text {
    font-size: 50px;
  }
}

@media only screen and (max-width: 590px) {
  .text {
    font-size: 40px;
  }
}

@media only screen and (max-width: 530px) {
  .text {
    font-size: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .hidden {
    top: 500px;
  }
}

.diagram {
  position: absolute;
  padding: 20px;
  color: azure;
  display: flex;
  top: 1100px;
  transition: 500ms;
  left: 13%;
  width: 30%;
  height: 700px;
}

.containerr {
  display: flex;
  width: 480px;
  flex-direction: column;
}

.numbers {
  display: block;
  justify-content: flex-end;
  color: rgb(215, 215, 215);
  font-size: 20px;
  font-weight: 100;
}

.dagram {
  display: flex;
  align-items: flex-end;
  width: 90%;
  gap: 5%;
  height: 330px;
  border-bottom: 1px solid white;
  position: relative;
}

.numb {
  margin-bottom: 10px;
}

.block1 {
  display: flex;
  justify-content: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  height: 0px;
  width: 6%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: grey;
  transition: 700ms;
}

.block2 {
  display: flex;
  justify-content: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  height: 0px;
  width: 6%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: grey;
  transition: 700ms;
}

.block3 {
  display: flex;
  justify-content: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  height: 0px;
  width: 6%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: grey;
  transition: 700ms;
}

.block4 {
  display: flex;
  justify-content: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  height: 0px;
  width: 6%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: grey;
  transition: 700ms;
}

.block5 {
  display: flex;
  justify-content: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  height: 0px;
  width: 6%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: grey;
  transition: 700ms;
}

.block6 {
  display: flex;
  justify-content: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  height: 0px;
  width: 6%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: grey;
  transition: 700ms;
}

.block7 {
  display: flex;
  justify-content: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  height: 0px;
  width: 6%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: grey;
  transition: 700ms;
}

.block8 {
  display: flex;
  justify-content: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  height: 0px;
  width: 6%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: grey;
  transition: 700ms;
}

.block9 {
  display: flex;
  justify-content: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  height: 0px;
  width: 6%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: grey;
  transition: 700ms;
}

.block10 {
  display: flex;
  justify-content: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  height: 0px;
  width: 6%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: grey;
  transition: 700ms;
}

.countries {
  display: flex;
  width: 90%;
  height: 330px;
  gap: 4%;
  position: absolute;
  bottom: -5%;
}
.country {
  width: 4%;
  transform: rotate(-90deg);
  color: rgb(215, 215, 215);
  font-weight: 100;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  align-content: flex-end;
}
