* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* div {
    transition: 250ms;
} */

body {
  background-image: url("0011.png");
  background-size: 30% 20%;
  cursor: none;
}

.page {
  overflow: hidden;
  height: 100%;
  width: 65%;
  background: #e7773b;
  position: relative;
  margin: auto;
  z-index: 1;
}

.title {
  color: white;
  display: flex;
  gap: 12%;
  padding-bottom: 2%;
  position: fixed;
  width: 65%;
  height: 10%;
  z-index: 999;
  background-color: #fa7934;
  box-shadow: 0 20px 30px 0 rgb(28 9 80 / 5%);
}
.gra {
  opacity: 0;
  background-size: 100%;
  position: relative;
  opacity: 0;
  width: 70%;
  border-radius: 12px;
  transition: 250ms;
  animation: ani4 0.75s ease-out 0.8s forwards;
}

.gra:hover {
  transition: 250ms;
  transform: scale(1.1);
}

.sum {
  width: 100%;
  margin-top: 1vh;
  height: 6vh;
}

.sizeCi {
  margin-top: 100px;
  width: 35%;
  height: 15vh;
}

.text {
  margin-left: 8%;
  font-size: 4vw;
}

.size {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 24vw;
}

.info {
  margin: 30px;
  padding: 2%;
  font-size: 1.5vw;
  text-align: center;
  color: white;
  opacity: 0;
  animation: ani 0.75s ease-out 1.2s forwards;
}

.info2 {
  width: 100%;
  font-size: 1.5vw;
  padding-top: 3%;
  text-align: center;
  padding-right: 7%;
  padding-left: 12%;
  color: white;
  opacity: 0;
  text-align: start;
  animation: ani 0.75s ease-out 1.2s forwards;
}

.info3 {
  width: 100%;
  color: white;
  font-size: 1.3vw;
  opacity: 0;
  margin-top: 4%;
  margin-left: 7%;
  animation: ani 0.75s ease-out 1.2s forwards;
  z-index: 9;
}

#pushdashit {
  text-align: center;
  margin-bottom: 70vh;
}

.top {
  position: relative;
  display: flex;
  flex-direction: column;
}

.top2 {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.top3 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 13%;
}

.top4 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  top: 50px;
}

.faya {
  opacity: 0;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 35vw;
  border-radius: 15px;
  transition: 250ms;
  animation: ani3 0.75s ease-out 0.8s forwards;
}

.faya2 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2vw;
  border-radius: 15px;
  opacity: 0;
  width: 80%;
  height: 35vw;
  transition: 250ms;
  animation: ani3 0.75s ease-out 0.8s forwards;
}

.faya:hover {
  transition: 250ms;
  transform: scale(1.1);
}

.faya2:hover {
  transition: 250ms;
  transform: scale(1.1);
}

.ground {
  width: 100%;
  height: 100px;
  margin-top: 100px;
  background-color: antiquewhite;
  font-size: 10px;
}

.mo-fire {
  left: 0px;
  bottom: 0px;
  position: relative;
  z-index: -600;
}

.mo-fire svg {
  width: 100%;
  position: absolute;
  bottom: -70px;
  margin-bottom: 4vh;
  height: 45vw;
}

.flame {
  animation-name: flameDisappear;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.5;
  transform-origin: 45% 45% 0;
}

.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}

.flame.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameMovement;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.flame-main.one {
  animation-duration: 2.2s;
  animation-delay: 1s;
}

.flame-main.two {
  animation-duration: 2s;
  animation-delay: 1s;
}

.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}

.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}

.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}

@keyframes flameMovement {
  50% {
    transform: scale(0.98, 1) translate(0, 2px) rotate(-1deg);
  }
}

@keyframes flameDisappear {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -40px) rotate(180deg);
    opacity: 0;
  }
}

@keyframes ani {
  100% {
    opacity: 1;
  }
}

@keyframes ani2 {
  100% {
    opacity: 1;
  }
}

@keyframes ani3 {
  100% {
    opacity: 1;
  }
}

@keyframes ani4 {
  100% {
    opacity: 1;
  }
}

@keyframes redu {
  0% {
    border-right: 10px solid rgb(185, 31, 31);
  }
  20% {
    border-right: 10px solid rgb(178, 55, 55);
  }
  40% {
    border-right: 10px solid rgb(142, 59, 59);
  }
  60% {
    border-right: 10px solid rgb(209, 19, 19);
  }
  80% {
    border-right: 10px solid rgb(144, 29, 29);
  }
  100% {
    border-right: 10px solid rgb(113, 22, 22);
  }
}

.button {
  margin-top: 0.5%;
  margin-left: 5%;
  cursor: pointer;
}

.cigarette {
  position: relative;
  width: 40%;
  height: 80px;
  background: rgb(255, 255, 255);
  border-right: 10px solid rgb(185, 31, 31);
  animation: redu linear 3s infinite;
  z-index: 111;
  transition: 2500ms;
}

.bottom:active {
  animation: low2 linear 4s forwards;
}
.bottom {
  width: 25%;
  height: 100%;
  background: rgb(180, 80, 13);
  border-right: 7px solid grey;
}

.cigarette:active {
  animation: low linear 4s forwards;
}

@keyframes low2 {
  100% {
    width: 60%;
  }
}

@keyframes low {
  100% {
    width: 10%;
    background: rgb(93, 93, 93);
  }
}

.vapour {
  position: absolute;
  top: 77%;
  left: 100%;
  display: flex;
}

.vapour span {
  position: relative;
  bottom: 40px;
  display: block;
  margin-top: 20vh;
  margin: 0 2px 50px;
  min-width: 4px;
  height: 80px;
  border-right: 2px solid rgb(40, 40, 40);
  border-radius: 50%;
  animation: animate 5s linear infinite;
  filter: blur(5px);
  animation-delay: calc(var(--i) * -0.4s);
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 2;
  }
  50% {
    transform: translateY(-150px) scaleX(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-300px) scaleX(10);
  }
}

@media only screen and (max-width: 1880px) {
  #pushdashit {
    text-align: center;
    margin-bottom: 50vh;
    margin-left: 2vw;
  }
  .cigarette {
    width: 50%;
    height: 65px;
  }
  .title {
    height: 12%;
  }
  .sum {
    position: relative;
    top: 5px;
    width: 3vh;
    height: 60%;
  }
  .text {
    margin-top: 1px;
    margin-left: 2%;
    font-size: 5vw;
  }
  .top3 {
    padding-top: 15%;
  }
  .info2 {
    margin-left: 3%;
    width: 100%;
  }
  .info3 {
    width: 150%;
    color: white;
    font-size: 1.3vw;
    margin-left: 11%;
    position: relative;
    bottom: 30px;
  }
}

@media only screen and (max-width: 1530px) {
  #pushdashit {
    text-align: center;
    margin-bottom: 38vh;
    margin-left: 2vw;
  }
  .cigarette {
    width: 50%;
    height: 60px;
  }
  .title {
    height: 8.5%;
  }
  .sum {
    position: relative;
    top: 5px;
    width: 2vh;
    height: 60%;
  }
  .text {
    margin-top: 1px;
    margin-left: 2%;
    font-size: 5vw;
  }
  .info2 {
    margin-left: 1%;
    width: 100%;
  }
  .info3 {
    width: 150%;
    color: white;
    font-size: 1.3vw;
    margin-left: 11%;
    position: relative;
    bottom: 30px;
  }
}

@media only screen and (max-width: 1030px) {
  #pushdashit {
    text-align: center;
    margin-bottom: 30vh;
    margin-left: 2vw;
  }
  .cigarette {
    height: 60px;
    width: 50%;
  }
  .sum {
    position: relative;
    top: 5px;
    width: 2.1vh;
    height: 60%;
  }
  .title {
    height: 7%;
  }
  .text {
    margin-top: 1%;
    margin-left: 3.4%;
    font-size: 4.5vw;
  }
  .info3 {
    font-size: 1.2vw;
    margin-top: -1%;
  }
  .info2 {
    width: 90%;
    margin-left: 10%;
    margin-top: 3%;
    padding: 2.2%;
    font-size: 1.5vw;
  }
  .info3 {
    width: 250%;
    color: white;
    font-size: 1.3vw;
    margin-left: 11%;
    position: relative;
    bottom: 8px;
  }
}

@media only screen and (max-width: 780px) {
  /* For mobile phones: */
  .top4 {
    flex-direction: column-reverse;
  }
  .sizeCi {
    width: 60%;
    height: 20vw;
  }
  .size {
    height: 34vw;
  }
  .gra {
    width: 80%;
    height: 50vw;
    margin-left: 10%;
    margin-right: 10%;
  }
  .page {
    width: 90%;
  }
  .info {
    font-size: 2.5vw;
  }
  .info2 {
    width: 90%;
    font-size: 2.5vw;
    padding-top: 5px;
  }
  .info3 {
    width: 90%;
    font-size: 2.5vw;
    padding-bottom: 5vh;
  }
  .title {
    height: fit-content;
    text-align: center;
    font-size: 5vw;
    width: 90%;
    height: 7%;
  }
  #pushdashit {
    margin-bottom: 29vh;
  }
  .cigarette {
    height: 60px;
    width: 80%;
  }
  .faya {
    height: 25vh;
  }
  .faya2 {
    height: 25vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .sum {
    margin-top: 10px;
    width: 2vh;
    height: 50%;
  }
  .text {
    margin-top: 30px;
    margin-left: 5%;
    margin-top: 10px;
    text-align: center;
    font-size: 6vw;
  }
  .top3 {
    padding-top: 10vh;
  }
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(51, 255, 241);
  border-radius: 50%;
  transition: 0.1s;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 999;
  transform: translate(-50%, -50%);
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: rgb(51, 255, 241);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 999;
  transform: translate(-50%, -50%);
}
