* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 4px;
}
div {
  transition: 250ms;
}
body {
  background-color: rgb(133, 180, 151);
}
.page {
  overflow: hidden;
  height: 100%;
  width: 80%;
  background: rgb(164, 74, 63);
  background: linear-gradient(
    0deg,
    rgba(164, 74, 63, 1) 11%,
    rgba(245, 157, 0, 1) 100%
  );
  position: relative;
  margin: auto;
}

.title {
  color: white;
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 36px;
  font-weight: 400;
}
.gra {
  margin-top: 5px;
  margin: 2%;
  width: 33vw;
  height: 25vw;
  border-radius: 10px;
  opacity: 0;
  border: 1px solid white;
  animation: ani4 0.75s ease-out 0.8s forwards;
}

.sizeCi {
  margin-top: 100px;
  width: 35%;
  height: 15vh;
}

.size {
  position: absolute;
  bottom: 0px;
  width: 101%;
  left: -0.5;
  height: 34vw;
}

.info {
  width: 50%;
  color: white;
  padding: 8%;
  padding-top: 5%;
  font-size: 2vw;
  opacity: 0;
  animation: ani 0.75s ease-out 1.2s forwards;
}

.info2 {
  width: 50%;
  color: white;
  padding: 8%;
  padding-top: 1%;
  font-size: 2vw;
  opacity: 0;
  animation: ani2 0.75s ease-out 1.2s forwards;
}

#pushdashit {
  text-align: center;
  margin-bottom: 50vh;
  margin-left: 2vw;
}

.top {
  position: relative;
  display: flex;
  flex-direction: row;
}

.top2 {
  position: relative;
  display: flex;
  flex-direction: row;
}

.faya {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5vw;
  border-radius: 15px;
  opacity: 0;
  width: 40%;
  background-image: url("fire2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
  animation: ani3 0.75s ease-out 0.8s forwards;
}

.faya2 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5vw;
  border-radius: 15px;
  opacity: 0;
  width: 40%;
  background-image: url("fire1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
  animation: ani3 0.75s ease-out 0.8s forwards;
}

.ground {
  width: 100%;
  height: 100px;
  margin-top: 100px;
  background-color: antiquewhite;
  font-size: 10px;
}

.mo-fire {
  left: 0px;
  bottom: 0px;
  position: relative;
}
.mo-fire svg {
  width: 100%;
  position: absolute;
  bottom: -70px;
  margin-bottom: 10vh;
  height: 45vw;
}

.flame {
  animation-name: flameDisappear;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.5;
  transform-origin: 45% 45% 0;
}
.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}
.flame.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameMovement;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.flame-main.one {
  animation-duration: 2.2s;
  animation-delay: 1s;
}
.flame-main.two {
  animation-duration: 2s;
  animation-delay: 1s;
}
.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}
@keyframes flameMovement {
  50% {
    transform: scale(0.98, 1) translate(0, 2px) rotate(-1deg);
  }
}
@keyframes flameDisappear {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -40px) rotate(180deg);
    opacity: 0;
  }
}

@keyframes ani {
  100% {
    opacity: 1;
  }
}
@keyframes ani2 {
  100% {
    opacity: 1;
  }
}
@keyframes ani3 {
  100% {
    opacity: 1;
  }
}
@keyframes ani4 {
  100% {
    opacity: 1;
  }
}

.cigarette {
  position: relative;
  width: 30%;
  height: 50px;
  background: rgb(255, 255, 255);
  border-right: 10px solid rgb(185, 31, 31);
  margin-top: 10vh;
  animation: redu linear 3s infinite;
}

@keyframes redu {
  0% {
    border-right: 10px solid rgb(185, 31, 31);
  }
  20% {
    border-right: 10px solid rgb(178, 55, 55);
  }
  40% {
    border-right: 10px solid rgb(142, 59, 59);
  }
  60% {
    border-right: 10px solid rgb(209, 19, 19);
  }
  80% {
    border-right: 10px solid rgb(144, 29, 29);
  }
  100% {
    border-right: 10px solid rgb(113, 22, 22);
  }
}

.bottom {
  width: 25%;
  height: 100%;
  background: rgb(180, 80, 13);
  border-right: 7px solid grey;
}
.vapour {
  position: absolute;
  top: 77%;
  left: 100%;
  display: flex;
}
.vapour span {
  position: relative;
  bottom: 40px;
  display: block;
  margin-top: 20vh;
  margin: 0 2px 50px;
  min-width: 4px;
  height: 80px;
  border-right: 2px solid rgb(40, 40, 40);
  border-radius: 50%;
  animation: animate 5s linear infinite;
  filter: blur(5px);
  animation-delay: calc(var(--i) * -0.4s);
}
@keyframes animate {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {
    opacity: 2;
  }
  50% {
    transform: translateY(-150px) scaleX(5);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-300px) scaleX(10);
  }
}

@media only screen and (max-width: 1880px) {
  #pushdashit {
    text-align: center;
    margin-bottom: 45vh;
    margin-left: 2vw;
  }
  .cigarette {
    width: 50%;
  }
}

@media only screen and (max-width: 1530px) {
  #pushdashit {
    text-align: center;
    margin-bottom: 34vh;
    margin-left: 2vw;
  }
  .cigarette {
    width: 50%;
  }
}

@media only screen and (max-width: 1030px) {
  #pushdashit {
    text-align: center;
    margin-bottom: 25vh;
    margin-left: 2vw;
  }
  .cigarette {
    width: 50%;
  }
}
@media only screen and (max-width: 780px) {
  /* For mobile phones: */
  .top {
    flex-direction: column;
  }
  .top2 {
    flex-direction: column-reverse;
  }
  .sizeCi {
    padding-top: 5%;
    width: 60%;
    height: 20vw;
  }
  .gra {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .page {
    width: 90%;
  }
  .info {
    margin-top: 40px;
    width: 100%;
    font-size: 2.6vw;
    padding-top: 5px;
    text-align: center;
  }
  .info2 {
    width: 100%;
    font-size: 2.5vw;
    padding-top: 5px;
    text-align: center;
  }
  .faya {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .title {
    text-align: center;
    font-size: 6vw;
  }
  #pushdashit {
    margin-bottom: 17vh;
  }
  .cigarette {
    width: 80%;
  }

  .faya {
    background-image: url("fire3.jpeg");
    height: 25vh;
  }
  .faya2 {
    background-image: url("fire3.jpeg");
    width: 80vw;
    height: 30vh;
  }
}
