* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 4px;
}
div{
  transition: 5ms;
}
body {
  background-color: black;
}
.page {
  min-height: 100%;
  width: 80%;
  background-color: #a44a3f;
  position: relative;
  margin: auto;
}

.title {
  color: white;
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 36px;
}
.gra {
  margin-top: 5px;
  margin: 8%;
  width: 40%;
  height: 20%;
}

.sizeCi {
  margin-top: 100px;
  width: 50%;
  height: 15vh;
}

.size {
  position: absolute;
  bottom: 0px;
  width: 101%;
  left: -0.5;
  height: 34vw;
}

.info {
  width: 50%;
  color: white;
  padding: 8%;
  padding-top: 5%;
  font-size: 2vw;
}

.info2 {
  width: 50%;
  color: white;
  padding: 8%;
  padding-top: 10%;
  font-size: 2vw;
}

#pushdashit{
  text-align: center;
  margin-bottom: 50vh;
  margin-left: 2vw;
}

.top {
  display: flex;
  flex-direction: row;
}

.top2 {
  display: flex;
  flex-direction: row;
}

.faya {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  height: 24vw;
  margin-top: 5vw;
}

.ground {
  width: 100%;
  height: 100px;
  margin-top: 100px;
  background-color: antiquewhite;
  font-size: 10px;
}

@media only screen and (max-width: 1880px) {
  #pushdashit{
    text-align: center;
    margin-bottom: 45vh;
    margin-left: 2vw;
  }
}

@media only screen and (max-width: 1530px) {
  #pushdashit{
    text-align: center;
    margin-bottom: 34vh;
    margin-left: 2vw;
  }
}

@media only screen and (max-width: 1030px) {
  #pushdashit{
    text-align: center;
    margin-bottom: 25vh;
    margin-left: 2vw;
  }
}
@media only screen and (max-width: 780px) {
  /* For mobile phones: */
  .top {
    flex-direction: column;
  }
  .top2 {
    flex-direction: column-reverse;
  }
  .sizeCi {
    margin-top: 80px;
    width: 100%;
    height: 30vw;
  }
  .gra {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .page {
    width: 90%;
  }
  .info {
    width: 100%;
    font-size: 2.6vw;
    padding-top: 5px;
    text-align: center;
  }
  .info2 {
    width: 100%;
    font-size: 2.5vw;
    padding-top: 5px;
    text-align: center;
  }
  .faya {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .title {
    text-align: center;
    font-size: 6vw;
  }
  #pushdashit{
    margin-bottom: 17vh;
  }
}

.mo-fire {
  left: 0px;
  bottom: 0px;
  position: relative;
}
.mo-fire svg {
  width: 100%;
  position: absolute;
  bottom: -70px;
  margin-bottom: 10vh;
  height: 45vw;
}

.flame {
  animation-name: flameDisappear;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.5;
  transform-origin: 45% 45% 0;
}
.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}
.flame.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameMovement;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.flame-main.one {
  animation-duration: 2.2s;
  animation-delay: 1s;
}
.flame-main.two {
  animation-duration: 2s;
  animation-delay: 1s;
}
.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}
@keyframes flameMovement {
  50% {
    transform: scale(0.98, 1) translate(0, 2px) rotate(-1deg);
  }
}
@keyframes flameDisappear {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -40px) rotate(180deg);
    opacity: 0;
  }
}
